html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("imgs/bkg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
}
